.home {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#signup {
  height: 7vh;
  width: 20vw;
  background-color: rgb(201, 201, 209);
  color: white;
  border: none;
  box-shadow: 10px 10px 10px 10px white;
  font-size: 1rem;
  font-weight: 700;
}

#login {
  height: 7vh;
  width: 20vw;
  background-color: rgb(201, 201, 209);
  color: white;
  border: none;
  box-shadow: 10px 10px 10px 10px white;
  font-size: 1rem;
  font-weight: 700;
}
